# Roblox Studio place & lock files
/*.rbxlx
/*.rbxl
/*.rbxlx.lock
/*.rbxl.lock
sourcemap.json

# Node & Bun Dependencies
node_modules/
.bun/

# VitePress Build Output & Cache
docs/.vitepress/dist/
docs/.vitepress/cache/

# Logs & Environment
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.log*

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
